{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center ">Django Indio Willi</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In odit eveniet quaerat corporis quam ratione
            architecto
            illum amet consectetur impedit! Excepturi, possimus aut reprehenderit nesciunt veniam quis accusantium at.
            Nihil,
            provident? Placeat corrupti, blanditiis necessitatibus assumenda nam animi ab harum nobis, molestias laborum
            eligendi totam? Quo dicta placeat et aut culpa? Sint, dignissimos. Iure libero eveniet, consequatur quam
            odio est
            repellendus repellat distinctio laudantium minima quas quisquam consectetur autem, nam dignissimos magni.
            Eius sit
            commodi facere ea ab! Cum harum et nisi aspernatur in tenetur laborum modi porro, obcaecati maxime, deserunt
            nobis placeat illo mollitia amet at praesentium ducimus distinctio?
        </p>
        <div class="text-center">
            <a class="btn btn-primary"  href="/signin/">
                signin
            </a>
            <a class="btn btn-success" href="/signup/">
                signup
            </a>
        </div>
    </section>
    
</main>
{% endblock %}